@media print {
    * {
        color:#000;
        background-color:#fff;
    }
}

/*
==========
Animations
==========
*/

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes bounce-down {
    0% {top:0px;}
    5% {top:2px;}
    10% {top:2px;}
    15% {top:2px;}
    20% {top:2px;}
    25% {top:4px;}
    30% {top:4px;}
    35% {top:4px;}
    40% {top:2px;}
    45% {top:2px;}
    50% {top:2px;}
    55% {top:2px;}
    60% {top:0px;}
    65% {top:0px;}
    70% {top:0px;}
    75% {top:0px;}
    80% {top:0px;}
    85% {top:0px;}
    90% {top:0px;}
    95% {top:0px;}
    100% {top:0px;}
}

@-moz-keyframes bounce-down {
    0% {top:0px;}
    5% {top:2px;}
    10% {top:2px;}
    15% {top:2px;}
    20% {top:2px;}
    25% {top:4px;}
    30% {top:4px;}
    35% {top:4px;}
    40% {top:2px;}
    45% {top:2px;}
    50% {top:2px;}
    55% {top:2px;}
    60% {top:0px;}
    65% {top:0px;}
    70% {top:0px;}
    75% {top:0px;}
    80% {top:0px;}
    85% {top:0px;}
    90% {top:0px;}
    95% {top:0px;}
    100% {top:0px;}
}

@-o-keyframes bounce-down {
    0% {top:0px;}
    5% {top:2px;}
    10% {top:2px;}
    15% {top:2px;}
    20% {top:2px;}
    25% {top:4px;}
    30% {top:4px;}
    35% {top:4px;}
    40% {top:2px;}
    45% {top:2px;}
    50% {top:2px;}
    55% {top:2px;}
    60% {top:0px;}
    65% {top:0px;}
    70% {top:0px;}
    75% {top:0px;}
    80% {top:0px;}
    85% {top:0px;}
    90% {top:0px;}
    95% {top:0px;}
    100% {top:0px;}
}

@keyframes bounce-down {
    0% {top:0px;}
    5% {top:2px;}
    10% {top:2px;}
    15% {top:2px;}
    20% {top:2px;}
    25% {top:4px;}
    30% {top:4px;}
    35% {top:4px;}
    40% {top:2px;}
    45% {top:2px;}
    50% {top:2px;}
    55% {top:2px;}
    60% {top:0px;}
    65% {top:0px;}
    70% {top:0px;}
    75% {top:0px;}
    80% {top:0px;}
    85% {top:0px;}
    90% {top:0px;}
    95% {top:0px;}
    100% {top:0px;}
}

@-webkit-keyframes bounce-right {
    0% {left:0px;}
    5% {left:2px;}
    10% {left:2px;}
    15% {left:2px;}
    20% {left:2px;}
    25% {left:4px;}
    30% {left:4px;}
    35% {left:4px;}
    40% {left:2px;}
    45% {left:2px;}
    50% {left:2px;}
    55% {left:2px;}
    60% {left:0px;}
    65% {left:0px;}
    70% {left:0px;}
    75% {left:0px;}
    80% {left:0px;}
    85% {left:0px;}
    90% {left:0px;}
    95% {left:0px;}
    100% {left:0px;}
}

@-moz-keyframes bounce-right {
    0% {left:0px;}
    5% {left:2px;}
    10% {left:2px;}
    15% {left:2px;}
    20% {left:2px;}
    25% {left:4px;}
    30% {left:4px;}
    35% {left:4px;}
    40% {left:2px;}
    45% {left:2px;}
    50% {left:2px;}
    55% {left:2px;}
    60% {left:0px;}
    65% {left:0px;}
    70% {left:0px;}
    75% {left:0px;}
    80% {left:0px;}
    85% {left:0px;}
    90% {left:0px;}
    95% {left:0px;}
    100% {left:0px;}
}

@-o-keyframes bounce-right {
    0% {left:0px;}
    5% {left:2px;}
    10% {left:2px;}
    15% {left:2px;}
    20% {left:2px;}
    25% {left:4px;}
    30% {left:4px;}
    35% {left:4px;}
    40% {left:2px;}
    45% {left:2px;}
    50% {left:2px;}
    55% {left:2px;}
    60% {left:0px;}
    65% {left:0px;}
    70% {left:0px;}
    75% {left:0px;}
    80% {left:0px;}
    85% {left:0px;}
    90% {left:0px;}
    95% {left:0px;}
    100% {left:0px;}
}

@keyframes bounce-right {
    0% {left:0px;}
    5% {left:2px;}
    10% {left:2px;}
    15% {left:2px;}
    20% {left:2px;}
    25% {left:4px;}
    30% {left:4px;}
    35% {left:4px;}
    40% {left:2px;}
    45% {left:2px;}
    50% {left:2px;}
    55% {left:2px;}
    60% {left:0px;}
    65% {left:0px;}
    70% {left:0px;}
    75% {left:0px;}
    80% {left:0px;}
    85% {left:0px;}
    90% {left:0px;}
    95% {left:0px;}
    100% {left:0px;}
}

/*
===============
Element Styling
===============
*/
 ::-webkit-scrollbar {
 	width:8px;
}

::-webkit-scrollbar-track {
    background:rgb(238, 238, 238);
    border:none;
    box-shadow:0px 0px 3px #dfdfdf inset;
}

::-webkit-scrollbar-thumb {
    background-color:#4b2e4c;
    border-radius:8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color:#7b4c7c;
}

::selection {
    background-color:#4b2e4c;
    color:#eee;
}

/*
============
Main Styling
============
*/

.ct {
    text-align:center;
}

body {
    font-family:"Varela Round", sans-serif;
    background-color:#4b2e4c;
    padding:0;
    margin:0;
}

main {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

#header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:2em;
    background-color:#eee;
    font-size:24px;
    color:#4b2e4c;
    float:left;
    box-shadow:0 0 2px 2px #222;
    text-align:center;
    z-index:1000;
}

#header div {
    margin-top:10px
}

#header div img {
    height:1.5em;
    width:auto;
    vertical-align:middle;
    margin-top:-4px;
    margin-right:5px
}

#content {
    margin-top:3em
}

section {
    width:calc(100% - 4em);
    padding:2em 2em 2em 2em;
    margin:0;
    display:inline-block
}

.screenshot {
    width:50%;
    height:auto;
    float:left;
    margin-right:2em;
    margin-bottom:.2em;
    display:inline-block;
    box-shadow:0 0 1px 1px #4b2e4c;
    margin-top:1em
}

.screenshotofmany {
    width:100%;
    height:auto;
    float:left;
    margin-right:2em;
    margin-bottom:.2em;
    display:inline-block;
    box-shadow:0 0 1px 1px #4b2e4c;
    margin-top:1em
}

.multiscreenshot {
    width:50%;
    height:auto;
    float:left;
    margin-right:2em;
    margin-bottom:.2em;
    display:inline-block;
    margin-top:1em
}

h1 {
    border-bottom:3px solid #4b2e4c
}

.button {
    font-family:"Varela Round", sans-serif;
    font-weight:700;
    color:#eee;
    font-size:24px;
    padding:24px;
    border-radius:8px;
    background-color:#4b2e4c;
    border:0;
    border-bottom:2px solid rgba(0, 0, 0, .5);
    text-shadow:0 -1px rgba(0, 0, 0, .9);
    box-shadow:0 1px 5px 2px rgba(0, 0, 0, .2);
    text-align:center;
    position:relative;
}

.button:hover {
    font-family:"Varela Round", sans-serif;
    font-weight:700;
    color:#eee;
    font-size:24px;
    padding:24px;
    border-radius:8px;
    background-color:#4b2e4c;
    border:0;
    border-bottom:2px solid rgba(0, 0, 0, .5);
    text-shadow:0 -1px rgba(0, 0, 0, .9);
    box-shadow:0 1px 8px 4px rgba(0, 0, 0, .2);
    text-align:center;
    position:relative;
}

.button:active {
    font-family:"Varela Round", sans-serif;
    font-weight:700;
    color:#eee;
    font-size:24px;
    padding:24px;
    border-radius:8px;
    background-color:#4b2e4c;
    border:0;
    border-bottom:2px solid rgba(0, 0, 0, .5);
    text-shadow:0 -1px rgba(0, 0, 0, .9);
    box-shadow:0 1px 5px 2px rgba(0, 0, 0, .2);
    text-align:center;
    top:2px;
    position:relative;
}

.btn-huge {
    font-size:50px;
    padding:48px
}

.btn-huge:hover {
    font-size:50px;
    padding:48px
}

.btn-huge:active {
    font-size:50px;
    padding:48px
}

a {
    text-decoration:none;
    color:#4b2e4c;
    font-weight:700
}

a:hover {
    text-decoration:underline;
    color:#4b2e4c;
    font-weight:700
}

a:active {
    text-decoration:underline;
    color:#4b2e4c;
    font-weight:400
}

.noa {
    text-decoration:none;
    font-weight:400
}

.noa:hover {
    text-decoration:none;
    font-weight:400
}

.noa:active {
    text-decoration:none;
    font-weight:700
}

.lighta {
    text-decoration:none;
    color:#e0e0e0;
    font-weight:700
}

.lighta:hover {
    text-decoration:underline;
    color:#e0e0e0;
    font-weight:700
}

.lighta:active {
    text-decoration:underline;
    color:#e0e0e0;
    font-weight:400
}

#title {
    font-weight:700;
    float:left;
    margin-left:1em;
    font-family:"Patrick Hand", "Varela Round", sans-serif;
    position: relative;
    bottom: 8px;
}

#tutorialtitle {
    font-size:150%;
    vertical-align: middle;
    position: relative;
    bottom: 4px;
    left:15px;
}

#progress {
    float:right;
    margin:0 1em 0 0;
    list-style-type:none;
    height:100%;
    text-align:right;
    overflow:hidden;
}

#progress a {
    font-weight:400;
}

#progress li {
    display:inline;
    margin:0 1em 0 1em;
}

.progress-current {
    color:rgba(75, 46, 76, 1);
    font-weight:bold;
}

.progress-next {
    color:rgba(75, 46, 76, 0.5);
}

.progress-back {
    color:rgba(75, 46, 76, 1);
}

#progress-current {
    display:none;
}

@media screen and (max-width:950px) {
    #progress {
        display:none;
    }
    #progress-current {
        display:initial;
        margin:0 1em 0 0 !important;
        float:right;
        height:100%;
        text-align:right;
        overflow:hidden;
    }
}

.faicon:hover {
    color:#4b2e4c
}

.bounce-down {
    -webkit-animation:bounce-down;
    -webkit-animation-duration:0.7s;
    -webkit-animation-iteration-count:infinite;
    -moz-animation:bounce-down;
    -moz-animation-duration:0.7s;
    -moz-animation-iteration-count:infinite;
    -o-animation:bounce-down;
    -o-animation-duration:0.7s;
    -o-animation-iteration-count:infinite;
    animation:bounce-down;
    animation-duration:0.7s;
    animation-iteration-count:infinite;
}

.bounce-right {
    -webkit-animation:bounce-right;
    -webkit-animation-duration:0.7s;
    -webkit-animation-iteration-count:infinite;
    -moz-animation:bounce-right;
    -moz-animation-duration:0.7s;
    -moz-animation-iteration-count:infinite;
    -o-animation:bounce-right;
    -o-animation-duration:0.7s;
    -o-animation-iteration-count:infinite;
    animation:bounce-right;
    animation-duration:0.7s;
    animation-iteration-count:infinite;
}

.btnbounce:hover {
    -webkit-animation:bounce-right;
    -webkit-animation-duration:0.7s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-play-state: paused;
    -moz-animation:bounce-right;
    -moz-animation-duration:0.7s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-play-state: paused;
    -o-animation:bounce-right;
    -o-animation-duration:0.7s;
    -o-animation-iteration-count:infinite;
    -o-animation-play-state: paused;
    animation:bounce-right;
    animation-duration:0.7s;
    animation-iteration-count:infinite;
    animation-play-state: paused;
}

.btnbounce:active {
    -webkit-animation:bounce-right;
    -webkit-animation-duration:0.7s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-play-state: paused;
    -moz-animation:bounce-right;
    -moz-animation-duration:0.7s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-play-state: paused;
    -o-animation:bounce-right;
    -o-animation-duration:0.7s;
    -o-animation-iteration-count:infinite;
    -o-animation-play-state: paused;
    animation:bounce-right;
    animation-duration:0.7s;
    animation-iteration-count:infinite;
    animation-play-state: paused;
}

/* 
===============
Section Styling
===============
*/

#error {
    background-color:#fff;
    color:#000;
}

#finishingup {
    background-color:#3EC3D6;
    color:#eee;
    text-shadow: 0px 0.5px 1px #222;
}

/*Start*/

#startfaq {
	background-color:#4b2e4c;
    color:#eee;
    box-shadow:inset 0 0 30px 0 #000;
}

#startfaq h1 {
	font-family:"Patrick Hand", cursive;
	font-size:45px;
	border-bottom:none;
}

#start {
	background-size:cover !important;
	background-position:bottom;
	color:#eee;
	box-shadow:inset 0 0 30px 0 #000;
	height:calc(100vh - 7em);
	text-shadow: 0px 4px 8px #222;
}

#start button {
    margin-top:calc(10vh);
    position:relative;
    box-shadow:0 1px 5px 2px rgba(255, 255, 255, .2);
    font-family: "Patrick Hand", "Varela Round", sans-serif;
    font-size: 40px;
}

#start button:hover {
    margin-top:calc(10vh);
    position:relative;
    box-shadow:0 1px 8px 4px rgba(255, 255, 255, .2);
}

#start button:active {
    margin-top:calc(10vh);
    position:relative;
    box-shadow:0 1px 5px 4px rgba(255, 255, 255, .2);
    top:2px;
}

#start h1 {
    font-family:"Patrick Hand", cursive;
    font-size:45px;
		border-bottom:none;
}

#ghlink {
    background: url('resources/ghlinks.png') top left;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0;
    height: 149px;
    width: 149px;
}

#ghlink:hover {
    background: url('resources/ghlinks.png') top center;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0;
    height: 149px;
    width: 149px;
}

#ghlink:active {
    background: url('resources/ghlinks.png') top right;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0;
    height: 149px;
    width: 149px;
}

/*Screen*/

#screenelements {
    color:#eee;
    background-color:gray;
    text-shadow: 0px 0.5px 1px #222;
}

#playerstatus {
    background-color:#CAE0BA;
    color:#222;
    text-shadow: 0px 0.5px 1px #eee;
}

#imgmenu {
    background-color:#80648c;
    color:#eee;
    text-shadow: 0px 0.5px 1px #222;
}

#property {
    background-color: #887666;
    color:#eee;
    text-shadow: 0px 0.5px 1px #222;
}

#chat {
    background-color:#86E2EE;
    color:#222;
    text-shadow: 0px 0.5px 1px #eee;
}

#gameinfo {
    background-color:#DFB88F;
    color:#222;
    text-shadow: 0px 0.5px 1px #eee;
}

#mappingandlocations {
    background-color: #89996F;
    color: #eee;
    text-shadow: 0px 0.5px 1px #222;
}

#clock {
    background-color:#5a6a6d;
    color:#eee;
    text-shadow: 0px 0.5px 1px #222;
}

#settings {
    background-color:#84807C;
    color:#eee;
    text-shadow: 0px 0.5px 1px #222;
}

#controls {
    background-color:#9BD4A8;
    color:#222;
    text-shadow: 0px 0.5px 1px #eee;
}

.ss-noeffect {
    box-shadow:none;
}

/* Playing */

#playing {
    background-color:#59BB95;
    color:#222;
    text-shadow: 0px 0.5px 1px #eee;
}

#avatarediting {
    background-color:#005E69;
    color:#eee;
    text-shadow: 0px 0.5px 1px #222;
}

#auctions {
    background-color: #CFF783;
    color:#222;
    text-shadow: 0px 0.5px 1px #eee;
}

#vendors {
    background-color: #8E6D49;
    color:#eee;
    text-shadow: 0px 0.5px 1px #222;
}

#gardening {
    background-color: #738949;
    color:#eee;
    text-shadow: 0px 0.5px 1px #222;
}

#housesandtowers {
    background-color: #998D73;
    color:#222;
    text-shadow: 0px 0.5px 1px #eee;
}

#quoins {
    background-color: #8BAEB9;
    color:#222;
    text-shadow: 0px 0.5px 1px #eee;
}

#trees {
    background-color: #35511E;
    color:#eee;
    text-shadow: 0px 0.5px 1px #222;
}

#mail {
    background-color: #246E9A;
    color: #eee;
    text-shadow: 0px 0.5px 1px #222;
}

/*Practice*/

.practicewindow {
    background-color:#000;
    width:100%;
    height:500px;
}

#practice {
    background-color: #3f9a9d;
    color:#eee;
    text-shadow: 0px 0.5px 1px #222;
}

#pr-chat {
    background-color: #6fb981;
    color:#eee;
    text-shadow: 0px 0.5px 1px #222;
}

#pr-navi {
    background-color: #86e2ee;
    color:#75528a;
    text-shadow: 0px 0.5px 1px #eee;
}

#pr-planttree {
    background-color: #77431b;
    color:#c0e5b0;
    text-shadow: 0px 0.5px 1px #222;
}

/*Finishing Up*/

#rulesandguidelines {
    padding-top:3em;
    margin-top:-3em;
    background-color:#B9525D;
    color:#eee;
    text-shadow: 0px 0.5px 1px #222;
}

#footer {
    box-shadow:inset 0 10px 10px -10px #000;
    background-color:#eee;
}

#credit {
    display: inline-block;
    bottom: 5px;
    left: 5px;
    opacity:0;
    text-decoration: none;
}

#credit:hover {
    display: inline-block;
    bottom: 5px;
    left: 5px;
    opacity:1;
    text-decoration: none;
}

.btn-fancy {
    font-family: "Patrick Hand", "Varela Round", sans-serif;
    font-size: 40px;
}

.btn-fancy:hover {
    font-family: "Patrick Hand", "Varela Round", sans-serif;
    font-size: 40px;
}

.btn-fancy:active {
    font-family: "Patrick Hand", "Varela Round", sans-serif;
    font-size: 40px;
}